#navbar {
    position: relative;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    background: #7e7e7e;
    z-index: 200;
}



#avatar-trigger {
    z-index: 999;
    position: absolute;
    float: none;
    width: 60px;
    height: 60px;
    right: 15%;
    top: 20px;
}
#avatar-trigger.disable {
    display: none;
}

.user-info {
    position: absolute;
    float: none;
    height: 260px;
    width: 200px;
    right: calc(15% - (200px/2) + 30px);
    top: -180px;
    transition: all 0.5s ease-out;
    /* animation: drop-down 0.5s reverse; */
}

.user-info-box {
    height: 100%;
    width: 100%;
}

.user-avatar {
    position: absolute;
    z-index: 201;
    float: none;
    width: 60px;
    height: 60px;
    right: calc(50% - 60px/2);
    top: calc(100% - 60px);

    border-radius: 100%;

    background-color: #D9D9D9;
}

.trigger:hover~.user-info {
    transform: translate(0, 30px);
}

.user-info.hover > .user-info-content {
    visibility: visible;
    transition: opacity 0.2s ease-in;
    opacity: .1;
}

.user-info.open {
    transform: translate(0, 230px);
}

.user-info.open > * {
    visibility: visible;
    transition: opacity 0.5s ease-in;
    opacity: 1;
}
.user-info.open > .user-avatar {
    background-color: #a5a5a5;
    transition: background-color 0.5s ease-in
}

.user-info-content {
    transition: all 0.2s ease-out;
    border-radius: 5px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    /* display: hidden; */
    z-index: -990;
    float: none;
    width: 200px;
    height: 230px;
    top: 0;
    right: calc(50% - 200px/2);
    background-color: #f3f3f3;
}